extends layout

block content
  p=title
  each val, index in data
    div.orderKitchen
      p=index+1
      span Numer zamówienia: 
      span=data[index].id.substr(20)
      div
      each valIn, indexIn in data[index].pizza  
        span=indexIn+1+') '
        span  pizza: 
        span=valIn+', ' 
        span  rozmiar:  
        span=data[index].pizzaSize[indexIn]
        span  składniki:  
        span=data[index].ingredients[indexIn]
        br
      div
        span dodatkowe informacje: 
        span=data[index].description 
      div  
        span miejsce wydania: 
        span=data[index].impact  
      a(href=`/kitchen/change/${data[index].id}`) Wykonano
      hr
  