extends layout

block content
  if(data.length == 0)
    div.attention brak bierzących zamówień do wykonania
  else
    div.attention zamówienia posegregowane są od najstarszych do najmłodszych  
    each val, index in data
      div.listElement
        p(class='bold')=index+1+'.'
        span Numer zamówienia: 
        span(class='bold')=data[index].id.substr(20)
        br
        span Data i godzina zamówienia: 
        span(class='bold')=val.created        
        div.summaryType
          each valIn, indexIn in data[index].pizza  
            span=indexIn+1+') '
            span  pizza: 
            span(class='bold')=valIn+', ' 
            span  rozmiar:  
            span(class='bold')=data[index].pizzaSize[indexIn]+ 'cm, '
            span  składniki:  
            span(class='bold')=data[index].ingredients[indexIn]
            br
        div.summaryType
          span dodatkowe informacje: 
          span(class='red bold')=data[index].description 
        div.summaryType
          span miejsce wydania: 
          if(data[index].impact==='takeaway')
            span(class='bold') na wynos 
          if( data[index].impact==="lokal")
            span(class='bold') lokal 
        div.summaryType        
          a(href=`/kitchen/change/${data[index].id}` class='button') Wykonano
        hr
  