extends orders_views

block append content
  p Wszystkie niezrealizowane zamówienia 
  each val, index in data
      div.orderpizza
        p=index+1
        if(val.confirmed == true)
          p zatwierdzone
        if(val.confirmed == false)
          p.red niezatwierdzone 
        if(val.confirmed == true)
        span Numer zamówienia: 
        span=val.id.substr(20)
        br
        span Data i godzina zamówienia: 
        span=val.created
        div
        each valIn, indexIn in val.pizza  
          span=indexIn+1+') '
          span  pizza: 
          span=valIn+', ' 
          span  rozmiar:  
          span=val.pizzaSize[indexIn]+' cm, '
          span  cena:  
          span=val.pizzaPrice[indexIn]+' zł'
          br
        div
          each valIn, indexIn in val.drink
            span=indexIn+1+') '
            span  napój: 
            span=valIn+', ' 
            span  rozmiar:  
            span=val.drinkSize[indexIn]+', '
            span  cena:  
            span=val.drinkPrice[indexIn]+' zł'
            br
        div
          span dopłata za sosy: 
          span=val.soucePrice + " zł" 
        div
          span Miejsce wydania: 
          span=val.impact
        div
          span do zapłaty: 
          span=val.toPay + " zł"   
          if(title == 'Wszystkie')
            a(href=`/manager/order_views/all/delete/${val.id}`) Usuń      
          if(title == 'Niezatwierdzone')
            a(href=`/manager/order_views/unconfirmed/delete/${val.id}`) Usuń   
          if(title == 'Niezapłacone')
            a(href=`/manager/order_views/unpaid/delete/${val.id}`) Usuń   