extends orders_views

block append content
  if (title == 'Wszystkie' || title == 'Wyniki wyszukiwania')
    form( class='form' method='post')
        p.summaryType wpisz numer zamówinie i kliknij wyszukaj aby znaleźć konkretne zamówienie
        div.form-row
            div.passwordRow
              input(type='text' name='search')
              input(class='button' type='submit' value='Wyszukaj')
  if(data.length == 0)
    div.attention brak danych wyników wyszukiwania 
  else
    each val, index in data
      div.listElement
        p(class='bold')=index+1+'.'
        span Numer zamówienia: 
        span(class='bold')=val.id.substr(20)
        br  
        span Data i godzina zamówienia: 
        span(class='bold')=val.created
        div.summaryType
        each valIn, indexIn in val.pizza  
          span=indexIn+1+') '
          span=valIn+', ' 
          span=val.pizzaSize[indexIn]+' cm, '
          span=val.pizzaPrice[indexIn]+' zł'
          br
        div.summaryType
        each valIn, indexIn in val.drink
          if(valIn !== '')
            span=indexIn+1+') '
            span=valIn+', '  
            span=val.drinkSize[indexIn]+', ' 
            span=val.drinkPrice[indexIn]+' zł'
            br
        div
          span dopłata za sosy: 
          span(class='bold')=val.soucePrice + " zł" 
          br 
          span do zapłaty: 
          span(class='bold')=val.toPay + " zł"
        div.summaryType 
          if(title == 'Wszystkie' || title == 'Wyniki wyszukiwania')
            if val.confirmed
              p.bold zatwierdzone
            if !val.confirmed
              p(class ='bold red') niezatwierdzone 
            if val.paidOrder
              p.bold zapłacone
            if !val.paidOrder
              p(class='bold red') niezapłacone
            if val.serveOrder
              p.bold wydane
            if !val.serveOrder
              p(class='bold red') niewydane
            div.summaryType 
              a(href=`/manager/order_views/all/delete/${val.id}` class='button') Usuń      
          if(title == 'Niezatwierdzone')
            div.summaryType 
              a(href=`/manager/order_views/unconfirmed/delete/${val.id}` class='button') Usuń   
          if(title == 'Niezapłacone')
            div.summaryType 
              a(href=`/manager/order_views/unpaid/delete/${val.id}` class='button pay') Usuń  
              a(href=`/manager/order_views/unpaid/change/${val.id}` class='button') Zapłacone 
        hr