extends ../menu_manage

block append content
  a(href=`/manager/menu_manage/drink/add` class='button') dodaj nowy napój
  each val, index in data
    div.listElement
      hr
      p(class='bold')=index+1+'.'
      div.summaryType
        span nazwa: 
        span(class='bold')=data[index].name
      div.summaryType
        span rozmiary(w litrach): 
        span(class='bold')=data[index].size     
      div.summaryType
        span ceny( w zł): 
        span(class='bold')=data[index].price  
      a(href=`/manager/menu_manage/drink/delete/${data[index].id}` class='button') Usuń

  
  
