extends ../menu_manage
block append content
  if(type==='addPizza')
    div.menuManageDescript
      div.summaryOrder
        a(href=`/manager/menu_manage/pizza` class='closeCross button') X
        form(method='post' class='form')
          div.oneSelect
            label Nazwa: 
            div.selectForm
              input(type='text', placeholder='Nazwa pizzy' name='name')
          div.oneSelect
            label Rozmiary(średnice w cm): 
            div.selectForm
              input(type='text', placeholder='mała' name='size1')
              input(type='text', placeholder='średnia' name='size2')
              input(type='text', placeholder='duża' name='size3')
          div.oneSelect
            label Ceny (w złotówkach): 
            div.selectForm
              input(type='text', placeholder='mała' name='price1')
              input(type='text', placeholder='średnia' name='price2')
              input(type='text', placeholder='duża' name='price3')
          div.oneSelect
            label Składniki(możesz dodać do 5 składników): 
            div.selectForm
              input(type='text', placeholder='1' name='ingr1')
              input(type='text', placeholder='2' name='ingr2' )
              input(type='text', placeholder='3' name='ingr3' )
              input(type='text', placeholder='4' name='ingr4')
              input(type='text', placeholder='5' name='ingr5')
          button(type='submit' class='button top') dodaj

  if(type==='changePizza')
    div.menuManageDescript 
      div.summaryOrder
        a(href=`/manager/menu_manage/pizza` class='closeCross button') X
        form(method='post' class='form')
          div.oneSelect
            label Nazwa:
            div.selectForm 
              input(type='text', placeholder='Nazwa pizzy' name='name' value=data.name)
          div.oneSelect
            label Rozmiary(średnice w cm): 
            div.selectForm
              input(type='text', placeholder='mała' name='size1' value=data.size[0])
              input(type='text', placeholder='średnia' name='size2' value=data.size[1])
              input(type='text', placeholder='duża' name='size3' value=data.size[2])
          div.oneSelect
            label Ceny (w złotówkach): 
            div.selectForm
              input(type='text', placeholder='mała' name='price1' value=data.price[0])
              input(type='text', placeholder='średnia' name='price2' value=data.price[1])
              input(type='text', placeholder='duża' name='price3' value=data.price[2])
          div.oneSelect
            label 'Składniki(możesz dodać do 5 składników)': 
            div.selectForm
              input(type='text', placeholder='1' name='ingr1' value=data.ingredients[0])
              input(type='text', placeholder='2' name='ingr2' value=data.ingredients[1])
              input(type='text', placeholder='3' name='ingr3' value=data.ingredients[2])
              input(type='text', placeholder='4' name='ingr4' value=data.ingredients[3])
              input(type='text', placeholder='5' name='ingr5' value=data.ingredients[4]) 
          button(type='submit' class='button top') zmień

  if(type==='addDrink')
    div.menuManageDescript
      div.summaryOrder
        a(href=`/manager/menu_manage/drink` class='closeCross button') X
        form(method='post' class='form')
          div.formDrink
            label Nazwa:
            div.selectForm 
              input(type='text', placeholder='Nazwa napoju' name='name')
          div.formDrink
            label Rozmiary: 
            div.selectForm
              input(type='text', placeholder='mały' name='size1')
              input(type='text', placeholder='duży' name='size2')
          div.formDrink
            label Ceny (w złotówkach): 
            div.selectForm
              input(type='text', placeholder='mały' name='price1')
              input(type='text', placeholder='duży' name='price2')
          button(type='submit' class='button top') dodaj
    
 
  
  
  
