extends ../menu_manage

block append content
  a(href=`/manager/menu_manage/pizza/add` class='button') dodaj nową pizze
  each val, index in data
    div.listElement
      hr
      p(class='bold')=index+1+'.'
      div.summaryType
        span nazwa: 
        span(class='bold')=data[index].name
      div.summaryType
        span rozmiary(średnica w cm): 
        span(class='bold')=data[index].size     
      div.summaryType
        span ceny (zł): 
        span(class='bold')=data[index].price  
      div.summaryType
        span składniki: 
        span(class='bold')=data[index].ingredients
      a(href=`/manager/menu_manage/pizza/delete/${data[index].id}` class='button pay') Usuń
      a(href=`/manager/menu_manage/pizza/change/${data[index].id}` class='button') Zmień
  
  
